<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LexiLift</title>
    <link rel="stylesheet" href="/static/output.css">
    <style>
        /* Custom styles for the hamburger menu */
        .line {
            transition: all 0.3s ease-in-out;
        }

        .line1-transform {
            transform: translateY(8px) rotate(45deg);
        }

        .line2-transform {
            opacity: 0;
        }

        .line3-transform {
            transform: translateY(-8px) rotate(-45deg);
        }

        /* Hidden box styles */
        .hidden {
            display: none;
        }
    </style>
</head>

<body class='bg-blac min-h-screen flex flex-col'>
    <!-- Header -->
    <div class='bg-blac'>
        <div class="fixed flex items-center w-screen p-5 border-b-lblac border-b bg-slate-700/20 z-50 backdrop-blur-md">
          
            <div class="relative ml-6">
                <div id="menu-toggle" class="space-y-2 cursor-pointer">
                    <div class="line w-8 h-0.5 bg-white"></div>
                    <div class="line w-8 h-0.5 bg-white"></div>
                    <div class="line w-8 h-0.5 bg-white"></div>
                </div>
                <div id="menu-box" class="absolute mt-2 bg-blac border border-lblac p-5 w-60 hidden rounded-md">
                    <a href="/about" class="block px-4 py-2 text-xl text-bone">About</a>

                    <a href="/dashboard" class="block px-4 py-2 text-xl text-bone">Home</a>
                </div>
            </div>
            <div class="flex flex-grow">
                <a href="/dashboard" class='text-bone font-bold text-3xl ml-6'>LexiLift</a>
            </div>
            <div class="flex items-center justify-end gap-4 text-white">
                <span class="p-3 bg-dand text-blac rounded-xl w-20 h-full flex items-center justify-center">{{points}}</span>
                {% if user %}
                <a href="{{ url_for('profile') }}" class="ml-4">
                    <img src="/static/img/pfp.png" alt="Profile Image" class="rounded-full w-10 h-10">
                </a>
                {% else %}
                <a href="{{ url_for('login') }}" class="ml-4">Login</a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Main content -->
    <div class="pt-28 flex-">
        <div class="flex ml-40 mt-20">
            <h2 class="text-bone text-[4rem]">Welcome Back {{ user[2] }}!</h2>
        </div>
    </div>
    <div class="flex-1 w-full flex justify-center items-center ">
        <div
            class="flex border border-lblac ml-40 bg-slate-700/20 h-[32rem] w-5/6 z--50 backdrop-blur-md text-bone rounded-[50px] p-10 pt-5 flex-col ">
            <div class="border border-blac w-full bg-dand h-1/5 rounded-[50px] p-6 pl-12 flex items-center">
                <div class="flex w-1/2">
                    <div class="text-blac text-4xl font-semibold"> Level:{{level}} </div>
                   
                </div>
                <div class="flex flex-row-reverse w-1/2">
                    <div class="text-blac text-5xl font-light"> </div>
                </div>
            </div>

            <div class="border border-black w-3/4 mt-8 bg-bone h-20 rounded-[50px] p-2 flex items-center">
                <div class="bg-dand h-full rounded-[50px] flex items-center justify-center"
                     style="width: {{ progress_percentage }}%;">
                    <span class="text-blac text-5xl font-light flex items-start">{{ points }}</span>
                </div>
            </div>
            
            


            <div class="border border-blac w-3/4 mt-8 bg-bone h-20 rounded-[50px] p-2 flex items-center">
                <div class="bg-dand h-full rounded-[50px] p-6 flex items-center justify-center"
                    style="width: {{count}}%;">
                    <l class="text-red-700 text-5xl font-light flex items-start">{{count}}🔥</l>
                </div>



            </div>



            <div class="w-full flex flex-row hidden"> 
                <div class="flex flex-row w-1/2">
                    <l class="text-3xl text-transparent mt-10 ml-6"> {{level}} </l>

                </div>

            </div>
            <div class="flex flex-row-reverse w-full mt-20  ">
                <a href="{{ url_for('practice') }}"
                    class="p-3 bg-dand text-ddand rounded-3xl w-1/6 h-1/6 flex items-center justify-center hover:text-dand hover:bg-ddand">
                    Practice</a>

            </div>








        </div>
        <div class="flex  flex-col mr-20 ml-20 w-1/6 text-bone items-center justify-center">
            <div>
                <l class="font-semibold text-2xl mb-5">Today's Goal: </l>
                <l class="text-2xl  text-blac bg-dand p-2 rounded-xl">{{points}}/600</l> 
            </div>
            <div class="w-full h-[32rem] border border-gray-700 bg-bone rounded-[50px] p-5 mt-5 flex  flex-col-reverse">
                <div class="w-full h-[25%] border border-ddand bg-dand rounded-[50px] p-5"> 

                </div>

            </div>
        </div>

    </div>
    <div class="flex w-full justify-center items-center">
        <l class="text-xl text-bone">Locked Levels ↓</l>
    </div>
    
    <div
        class="mt-20 flex border border-lblac ml-40 bg-slate-700/20 h-[32rem] w-5/6 z--50 backdrop-blur-md text-bone rounded-[50px] p-10 pt-5 flex-col ">
        <div class="border border-blac w-full bg-blac h-1/5 rounded-[50px] p-6 pl-12 flex items-center">
            <div class="flex w-1/2">
                <div class="text-gray-700 text-4xl font-semibold"> Level: </div>
                <div class="text-gray-700 text-4xl "> ‎ Red </div>
            </div>
            <div class="flex flex-row-reverse w-1/2">
                <div class="text-gray-700 text-5xl font-light">1200pts/ 7 Streak </div>
            </div>
        </div>
        <div class="w-full flex flex-row">
            <div class="flex flex-row w-1/2">


            </div>
            <div class="flex flex-row-reverse w-1/2">
                <l
                    class="text-3xl text-blac w-1/6 border border-blac bg-blac mt-10 mr-6 rounded-r-lg flex justify-center items-center">
                </l>
                <l
                    class="text-3xl text-blac w-1/3 border border-blac bg-blac p-2 mr-1 mt-10 rounded-l-lg flex items-center ">
                    .</l>

            </div>
        </div>

    </div>
    <div
        class="mt-10 flex border border-lblac ml-40 bg-slate-700/20 h-[32rem] w-5/6 z--50 backdrop-blur-md text-bone rounded-[50px] p-10 pt-5 flex-col ">
        <div class="border border-blac w-full bg-blac h-1/5 rounded-[50px] p-6 pl-12 flex items-center">
            <div class="flex w-1/2">
                <div class="text-gray-700 text-4xl font-semibold"> Level: </div>
                <div class="text-gray-700 text-4xl "> ‎ Purple </div>
            </div>
            <div class="flex flex-row-reverse w-1/2">
                <div class="text-gray-700 text-5xl font-light">5200pts/ 5 Streak </div>
            </div>
        </div>
        <div class="w-full flex flex-row">
            <div class="flex flex-row w-1/2">


            </div>
            <div class="flex flex-row-reverse w-1/2">
                <l
                    class="text-3xl text-blac w-1/6 border border-blac bg-blac mt-10 mr-6 rounded-r-lg flex justify-center items-center">
                </l>
                <l
                    class="text-3xl text-blac w-1/3 border border-blac bg-blac p-2 mr-1 mt-10 rounded-l-lg flex items-center ">
                    .</l>

            </div>
        </div>

    </div>
    <div
        class="mt-10 flex border border-lblac ml-40 bg-slate-700/20 h-[32rem] w-5/6 z--50 backdrop-blur-md text-bone rounded-[50px] p-10 pt-5 flex-col ">
        <div class="border border-blac w-full bg-blac h-1/5 rounded-[50px] p-6 pl-12 flex items-center">
            <div class="flex w-1/2">
                <div class="text-gray-700 text-4xl font-semibold"> Level: </div>
                <div class="text-gray-700 text-4xl "> ‎ Blue </div>
            </div>
            <div class="flex flex-row-reverse w-1/2">
                <div class="text-gray-700 text-5xl font-light">10000pts/ 3 Streak </div>
            </div>
        </div>
        <div class="w-full flex flex-row">
            <div class="flex flex-row w-1/2">


            </div>
            <div class="flex flex-row-reverse w-1/2">
                <l
                    class="text-3xl text-blac w-1/6 border border-blac bg-blac mt-10 mr-6 rounded-r-lg flex justify-center items-center">
                </l>
                <l
                    class="text-3xl text-blac w-1/3 border border-blac bg-blac p-2 mr-1 mt-10 rounded-l-lg flex items-center ">
                    .</l>

            </div>
        </div>

    </div>
    <!-- Tech With Tim Video showed how to add hover/toggle effect -->
    <script>
        document.getElementById('menu-toggle').addEventListener('click', function () {
            this.classList.toggle('open');
            document.querySelector('.line:nth-child(1)').classList.toggle('line1-transform');
            document.querySelector('.line:nth-child(2)').classList.toggle('line2-transform');
            document.querySelector('.line:nth-child(3)').classList.toggle('line3-transform');
            document.getElementById('menu-box').classList.toggle('hidden');
        });
    </script>
</body>

</html>